<button class="showPlaying" mat-raised-button color="primary" disableRipple="true" *ngIf="piPlayer.isPlaying()">
  <mat-icon>play_circle_outline</mat-icon>
  <b>{{ piPlayer.getPlaying() }}</b>

  <mat-slide-toggle [checked]="piPlayer.hasChat()" (change)="onChatToggle($event)" *ngIf="showChatToggle()"></mat-slide-toggle>
  <mat-icon *ngIf="showChatToggle()">chat</mat-icon>

  <button mat-icon-button color="warn" (click)="piPlayer.stop()">
    <mat-icon>cancel</mat-icon>
  </button>
</button>


<nav mat-tab-nav-bar>
  <a mat-tab-link routerLink="tv" [active]="route == 'tv'">TV</a>
  <a mat-tab-link routerLink="twitch" [active]="route == 'twitch'">Twitch</a>
  <a mat-tab-link disabled>Youtube</a>
</nav>
<router-outlet></router-outlet>
