.showPlaying {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding-right: 5px;
  display: inline-block;
  pointer-events: none;
  cursor: default;
}
.showPlaying .mat-icon-button {
  pointer-events: auto
}
.showPlaying .mat-slide-toggle {
  margin-left: 15px;
  pointer-events: auto
}
.showPlaying .mat-icon {
  margin-right: 10px;
  pointer-events: auto
}
