.grid {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  gap: 10px;
}

.grid .mat-card {
  display: flex;
  flex-direction: column;
}

.spacer {
  flex-grow: 1;
}

.card-avatar {
  width: 60px;
  height: 60px;
  border-radius: 0;
}

::ng-deep .snack-style {
  background-color: grey;
  color:white;
}
