<div class="grid">
  <mat-card *ngFor="let channel of channels">
    <mat-card-header>
      <img mat-card-avatar class="card-avatar" *ngIf="channel.info.thumbnail.length > 0"  [src]="channel.info.thumbnail">
      <mat-card-title>{{ channel.info.name }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="channel.info.preview" alt="No Channel Preview" style="background-color:grey;">
    <div class="spacer"></div>
    <mat-card-actions>
      <button *ngIf="channel.names.length == 1" mat-raised-button color="primary" (click)="openChannel(channel.names[0])">Open on Pi</button>

      <button mat-button mat-raised-button *ngIf="channel.names.length > 1" color="primary" [matMenuTriggerFor]="menu"><mat-icon inline>keyboard_double_arrow_down</mat-icon> Open on Pi</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item *ngFor="let name of channel.names" (click)="openChannel(name)">{{ name }}</button>
      </mat-menu>


      <a mat-raised-button *ngIf="channel.info.url.length > 0" color="primary" [href]="channel.info.url" target="_blank">Open in Browser <mat-icon inline>open_in_new</mat-icon></a>
    </mat-card-actions>
  </mat-card>
</div>
