<mat-form-field class="twitchUserInput" appearance="standard">
  <input #box matInput placeholder="Twitch Username" value="{{ userName }}" (keyup.enter)="updateUsername(box.value)">
  <mat-icon matSuffix inline (click)="updateUsername(box.value)">search</mat-icon>
</mat-form-field>

<mat-spinner *ngIf="twitchStreams.length == 0 && refresher != undefined" style="margin: auto;"></mat-spinner>

<div class="grid">
  <mat-card *ngFor="let stream of twitchStreams; trackBy: trackById">
    <img mat-card-image [src]="getThumbUrl(stream)" alt="Stream Preview" style="background-color:grey;">
    <mat-card-header>
      <img mat-card-avatar [src]="stream.profile_image_url">
      <mat-card-title>{{ stream.user_name }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>{{ stream.title }}</mat-card-content>
    <div class="spacer"></div>
    <mat-card-subtitle>
      <ul class="stream-properties">
        <li><mat-icon inline>sports_esports</mat-icon>&nbsp;{{ stream.game_name }}</li>
        <li><mat-icon inline>visibility</mat-icon>&nbsp;{{ stream.viewer_count}}</li>
        <li><mat-icon inline>schedule</mat-icon>&nbsp;{{ getUptime(stream) }}</li>
      </ul>
    </mat-card-subtitle>
    <mat-card-actions>
      <button mat-raised-button color="primary" [disabled]="stream.viewer_count == 0 && getUptimeMin(stream) > 1" (click)="startStream(stream)">Open on Pi</button>
      <a mat-raised-button color="primary" href="https://www.twitch.tv/{{ stream.user_login }}" target="_blank">Open in Browser <mat-icon inline>open_in_new</mat-icon></a>
    </mat-card-actions>
  </mat-card>
</div>
