<div class="login-button-container" *ngIf="login != undefined && !login.logged_in">
  <a mat-fab color="primary" [href]="login.verification_uri" target="_blank"><mat-icon>login</mat-icon></a>
</div>
<div class="logout-button-container" *ngIf="login != undefined && login.logged_in">
  <button mat-fab color="primary" (click)="startNewLogin()"><mat-icon>logout</mat-icon></button>
</div>

<mat-spinner *ngIf="login == undefined || (login.logged_in && twitchStreams.length == 0)"></mat-spinner>

<mat-form-field class="game-filter-list" appearance="fill" *ngIf="filteredGames.length > 0">
  <mat-label>Filtered Games</mat-label>
  <mat-chip-list [selectable]="false">
    <mat-chip *ngFor="let game of filteredGames" (removed)="removeFilteredGame(game)">
      {{game}}
      <button matChipRemove><mat-icon>cancel</mat-icon></button>
    </mat-chip>
  </mat-chip-list>
</mat-form-field>

<div class="grid">
  <mat-card *ngFor="let stream of filteredStreams; trackBy: trackById">
    <img mat-card-image [src]="getThumbUrl(stream)" alt="Stream Preview" style="background-color:grey;">
    <mat-card-header>
      <img mat-card-avatar [src]="stream.profile_image_url">
      <mat-card-title>{{ stream.user_name }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>{{ stream.title }}</mat-card-content>
    <div class="spacer"></div>
    <mat-card-subtitle>
      <ul class="stream-properties">
        <li><mat-icon inline>sports_esports</mat-icon>&nbsp;{{ stream.game_name }}<mat-icon inline class="filter-game-button" (click)="addFilteredGame(stream.game_name)">filter_alt</mat-icon></li>
        <li><mat-icon inline>visibility</mat-icon>&nbsp;{{ stream.viewer_count}}</li>
        <li><mat-icon inline>schedule</mat-icon>&nbsp;{{ getUptime(stream) }}</li>
      </ul>
    </mat-card-subtitle>
    <mat-card-actions>
      <button mat-raised-button color="primary" [disabled]="stream.viewer_count == 0 && getUptimeMin(stream) > 1" (click)="startStream(stream)">Open on Pi</button>
      <a mat-raised-button color="primary" href="https://www.twitch.tv/{{ stream.user_login }}" target="_blank">Open in Browser <mat-icon inline>open_in_new</mat-icon></a>
    </mat-card-actions>
  </mat-card>
</div>
