<mat-form-field class="twitchUserInput" appearance="standard">
  <input #box matInput placeholder="Twitch Username" value="{{ userName }}" (keyup.enter)="updateUsername(box.value)">
  <mat-icon matSuffix inline (click)="updateUsername(box.value)">search</mat-icon>
</mat-form-field>

<div class="spinner" *ngIf="twitchStreams.length == 0 && refresher != undefined">
  <mat-spinner></mat-spinner>
</div>

<div class="grid">
  <mat-card *ngFor="let stream of twitchStreams; trackBy: trackById">
    <img mat-card-image [src]="getThumbUrl(stream)" alt="Stream Preview" style="background-color:grey;">
    <mat-card-title>{{ stream.user_name }}</mat-card-title>
    <mat-card-content>{{ stream.title }}</mat-card-content>
    <div class="spacer"></div>
    <mat-card-subtitle>
      <span><mat-icon inline>sports_esports</mat-icon>&nbsp;{{ stream.game_name }}</span>
      <span class="leftpad"><mat-icon inline>visibility</mat-icon>&nbsp;{{ stream.viewer_count}}</span>
      <span class="leftpad"><mat-icon inline>schedule</mat-icon>&nbsp;{{ getUptime(stream) }}</span>
    </mat-card-subtitle>
    <mat-card-actions>
      <button mat-raised-button color="primary" [disabled]="stream.viewer_count == 0 && getUptimeMin(stream) > 1" (click)="startStream(stream)">Open on Pi</button>
      <a mat-raised-button color="primary" href="https://www.twitch.tv/{{ stream.user_login }}" target="_blank">Open in Browser <mat-icon inline>open_in_new</mat-icon></a>
    </mat-card-actions>
  </mat-card>
</div>
