.twitchUserInput {
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
}
.twitchUserInput .mat-icon {
  cursor: pointer;
}

.grid {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 10px;
}

.grid .mat-card {
  display: flex;
  flex-direction: column;
}

.grid .mat-card-subtitle {
  margin-bottom: 0px;
}

.spacer {
  flex-grow: 1;
}

.stream-properties {
  padding: 0;
  margin: 0;
}

.stream-properties li {
  padding-right: 1rem;
  display: inline-block;
  list-style: none;
}

.stream-properties li:last-child {
  padding-right: 0;
}

::ng-deep .snack-style {
  background-color: grey;
  color:white;
}
