.login-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.logout-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.game-filter-list{
  width: 100%;
}

.mat-spinner {
  margin: auto;
  margin-top: 50px;
}

.grid {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 10px;
}

.grid .mat-card {
  display: flex;
  flex-direction: column;
}

.grid .mat-card-image {
  margin-bottom: 0;
}

.grid .mat-card-header {
  align-items: center;
  margin: 5px 5px 5px -4px;
}

.grid .mat-card-title {
  margin: 0;
}

.grid .mat-card-subtitle {
  margin-bottom: 0px;
}

.spacer {
  flex-grow: 1;
}

.stream-properties {
  padding: 0;
  margin: 0;
}

.stream-properties li {
  padding-right: 1rem;
  display: inline-block;
  list-style: none;
}

.stream-properties li:last-child {
  padding-right: 0;
}

.hide-link {
  text-decoration: none;
  color: inherit;
}

.filter-game-button {
  cursor: pointer;
}

::ng-deep .snack-style {
  background-color: grey;
  color:white;
}
