<mat-toolbar color="primary">
  <a mat-icon-button routerLink="/"><img src="assets/Pie Man 32x32.png"></a>
  <span class="scrollmenu">
    <a mat-button disabled routerLink="/music">Music</a>
    <a mat-button routerLink="/streams">Streams <mat-icon inline *ngIf="piPlayer.isPlaying()">play_circle_outline</mat-icon></a>
    <a mat-button disabled routerLink="/videos">Videos</a>
    <button mat-button disabled>PC-Remote</button>
    <button mat-button disabled>Pi-SSH</button>
    <a mat-button href="http://pihole.home/admin" target="_blank">Pi-Hole <mat-icon inline>open_in_new</mat-icon></a>
  </span>
</mat-toolbar>
