<div class="split left">
  <div *ngIf="scannables == undefined">
    <mat-spinner ></mat-spinner>
  </div>

  <mat-accordion *ngIf="scannables != undefined">
    <mat-expansion-panel *ngFor="let scannable of scannables" (opened)="openScannable(scannable)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{scannable.name}}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div *ngIf="scannable.urls == undefined ">
        <mat-spinner ></mat-spinner>
      </div>

      <mat-list dense *ngIf="scannable.urls != undefined">
        <ng-container *ngFor="let group of scannable.urls | keyvalue">
          <mat-divider></mat-divider>

          <div matSubheader>
            {{group.key}}
            <button mat-icon-button (click)="startAllDownloads(group.value, scannable)">
              <mat-icon>download</mat-icon>
            </button>
          </div>
          <mat-list-item *ngFor="let url of group.value">
            <button mat-icon-button color="accent" (click)="startDownload(url, scannable)">
              <mat-icon>download</mat-icon>
            </button>
            {{url.name}}
          </mat-list-item>
        </ng-container>

      </mat-list>
      <mat-action-row>
        <button mat-icon-button color="warn" (click)="deleteScannable(scannable)">
          <mat-icon>delete_forever</mat-icon>
        </button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<div class="split right">
  <div *ngIf="downloads == undefined">
    <mat-spinner ></mat-spinner>
  </div>

  <mat-list *ngIf="downloads != undefined">
    <div mat-subheader>Downloads</div>
    <mat-divider></mat-divider>
    <mat-list-item *ngFor="let download of downloads" title="test">
      <mat-icon mat-list-icon [color]="getIconColor(download)">{{ getIcon(download) }}</mat-icon>
      <div mat-line>{{ download.path }}</div>
      <div mat-line> <mat-progress-bar [color]="getProgressBarColor(download)" [mode]="getProgressBarMode(download)" [value]="100 * download.current_size / download.size"></mat-progress-bar></div>
      <div mat-line>{{ readableByteCount(download.current_size) }} / {{ readableByteCount(download.size) }}</div>
      <button mat-icon-button color="warn" (click)="deleteDownload(download)">
        <mat-icon>delete_forever</mat-icon>
      </button>
    </mat-list-item>
  </mat-list>

</div>
